<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "header.html" . }}
    {{ block "header" . }}
    <header class="header text-white" style="background-image: url('{{ .Site.Params.headerURL | safeURL }}')">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-1 text-center">{{ .Site.Title }}</h1>
                </div>
            </div>
        </div>
    </header>
    {{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}

    {{ with index .Site.Data "chunky-poster" }}
    <script src="{{ print "dist/" .assets.main.js | relURL }}"></script>
    {{ end }}
</body>
</html>
