<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "header.html" . }}
    {{ block "header" . }}
    <header class="header text-white" style="background-image: url('{{ .Site.Params.headerURL | safeURL }}')">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-1 text-center">{{ .Site.Title }}</h1>
                </div>
            </div>
        </div>
    </header>
    {{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}

    {{ with index .Site.Data "chunky-poster" }}
        {{ range $vendor := .assets }}
            {{ if $vendor.js }}
            <script src="{{ $vendor.js | relURL }}"></script>
            {{ end }}
        {{ end }}
    {{ end }}

    {{ if .Site.Params.prismJS.enable }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
    {{ end }}

    {{ template "_internal/google_analytics.html" . }}
</body>
</html>
