{{ define "main" }}
<main class="content-page container pt-7 pb-5">
    <div class="row">
        <div class="col">
            <article>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <p class="created text-muted text-uppercase font-weight-bold">{{ .Date.Format "January 2, 2006" }}</p>
                        <div class="meta text-muted mb-3">
                            <span class="mr-2"><i class="fas fa-book-open mr-2"></i>{{ T "wordCount" .WordCount }}</span>
                            <span><i class="fas fa-clock mr-2"></i>{{ T "readingTime" .ReadingTime }}</span>
                        </div>

                        <h1>{{ .Title }}</h1>

                        {{ partial "authors.html" . }}
                    </div>
                </div>

                {{- /* if .Params.cover */ -}}
                <div class="row justify-content-center mb-3">
                    <div class="col-md-10">
                        <img src="https://via.placeholder.com/900x500.png" class="img-fluid rounded" alt="{{ .Title }}">
                    </div>
                </div>
                {{- /* end */ -}}

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="content">
                            {{ .Content }}
                        </div>

                        {{- with .Params.tags -}}
                            <p class="tags">
                            {{- range . -}}
                                <a class="badge badge-pill badge-light border mr-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                                    <i class="fas fa-tag mr-2"></i>{{ . }}
                                </a>
                            {{- end -}}
                            </p>
                        {{- end -}}
                    </div>
                </div>
            </article>
        </div>
    </div>

    {{ partial "related.html" . }}
</main>
{{ end }}
