{{ define "header" }}
<header class="header text-white" style="background-image: url('{{ .Site.Params.headerURL | safeURL }}')">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tags text-lowercase">
                    {{ range .Params.tags -}}
                    <a class="badge badge-pill badge-light border mr-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                        <i class="fas fa-tag mr-2"></i>{{ . }}
                    </a>
                    {{- end }}
                </div>
                <h1 class="display-1">{{ .Title }}</h1>
                <h3 class="text-light">Posted on <time>{{ .Date.Format "Monday, January 2, 2006" }}</time></h3>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}
<main class="container my-4">
    <div class="row">
        <div class="col-md-8">
            <article class="row">
                <div class="col">
                    {{ .Content }}
                </div>
            </article>
        </div>
        <div class="col-md-4">
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</main>
{{ end }}
