<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ .Site.Title }}</title>
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

{{ with index .Site.Data "chunky-poster" }}
    {{ range $vendor := .assets }}
        {{ if $vendor.css }}
        <link rel="stylesheet" href="{{ $vendor.css | relURL }}">
        {{ end }}
    {{ end }}
{{ end }}

{{ if .Site.Params.prismJS.enable }}
    {{ if .Site.Params.prismJS.theme }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-{{ .Site.Params.prismJS.theme }}.min.css">
    {{ else }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css">
    {{ end }}
{{ end }}

{{ with .OutputFormats.Get "RSS" -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{- end }}
