<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
  {{ block "title" . }}
    {{ with .Params.Title }} {{ . }} | {{ end }}
    {{ .Site.Title }}
  {{ end }}
</title>

{{- if .Description -}}
  <meta name="description" content="{{ .Description }}">
{{- else if .Site.Params.description -}}
  <meta name="description" content="{{ .Site.Params.description }}">
{{- end -}}

<meta name="author" content="{{ if .Params.authors }}{{ delimit .Params.authors ", " }}{{ else }}{{ .Site.Params.author }}{{ end }}">

{{ if .Site.Params.prismJS.enable }}
    {{ if .Site.Params.prismJS.theme }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-{{ .Site.Params.prismJS.theme }}.min.css">
    {{ else }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css">
    {{ end }}
{{ end }}

{{ with index .Site.Data "chunky-poster" }}
    {{ range $vendor := .assets }}
        {{ if $vendor.css }}
            <link rel="stylesheet" href="{{ print "dist/" $vendor.css | relURL }}">
        {{ end }}
    {{ end }}
{{ end }}

{{ range .Site.Params.customCSS -}}
    <link rel="stylesheet" href="{{ "css/" | relURL }}{{ . }}">
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">
{{- with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}">
{{- end -}}

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/google_news.html" . -}}
{{- template "_internal/schema.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}
