{{ $pager := $.Paginator }}
{{ if gt $pager.TotalPages 1 }}
<nav class="paginator">
  <ul class="pagination justify-content-center">
    {{ if $pager.HasPrev }}
        <li class="page-item">
            <a class="page-link" href="{{ $pager.Prev.URL }}">
                <i class="fas fa-chevron-left mr-2"></i>{{ T "previousPage" }}
            </a>
        </li>
    {{ end }}
    {{ range $pager.Pagers }}
    <li class="page-item">
        <a href="{{ .URL }}" class="page-link{{ if eq . $pager }} active{{ end }}">
            {{ .PageNumber }}
        </a>
    </li>
    {{ end }}
    {{ if $pager.HasNext }}
        <li class="page-item">
            <a class="page-link" href="{{ $pager.Next.URL }}">
                {{ T "nextPage" }}<i class="fas fa-chevron-right ml-2"></i>
            </a>
        </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
