<aside>
    <section class="tags mb-5">
        <h5>{{ T "tags" }}</h5>
        <p class="text-lowercase">
        {{ range $name, $value := .Site.Taxonomies.tags }}
            <a class="badge badge-pill badge-light border" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">
                <i class="fas fa-tag mr-2"></i>{{ $name }}
            </a>
        {{ end }}
        </p>
    </section>
    {{- if .Site.Params.about.enable }}
    <section class="about mb-5">
        <h5>{{ T "about" }}</h5>
        {{- with .Site.Params.about.avatarURL }}
        <p class="image text-center my-5">
            <img src="{{ . | safeURL }}" class="img-thumbnail rounded-circle">
        </p>
        {{- end }}

        {{- with .Site.Params.about.description }}
        <p>{{ . | safeHTML }}</p>
        {{- end }}
    </section>
    {{- end }}
</aside>
