$enable-responsive-font-sizes: true;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$font-family-serif: 'Roboto Slab', serif;

$font-size-base: 1.125rem;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 6),
  8: ($spacer * 7),
  9: ($spacer * 8),
);
