$enable-responsive-font-sizes: true;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$font-family-serif: 'Roboto Slab', serif;

$headings-font-family: $font-family-serif;
